[submodule "_includes/modeled.netconf"]
	path = _includes/modeled.netconf
	url = https://github.com/modeled/modeled.netconf.git
[submodule "_includes/zimmermanncode.github.io"]
	path = _includes/zimmermanncode.github.io
	url = https://github.com/zimmermanncode/zimmermanncode.github.io.git
