---
---

{% include head.html %}

<div id="fork-me-on-github" class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/modeled/modeled.netconf/fork">
      Fork me on GitHub
    </a>
  </div>
</div>

<div id="fork-me-on-bitbucket" class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://bitbucket.org/modeled/modeled.netconf/fork">
      Fork me with Hg on Bitbucket
    </a>
  </div>
</div>

<div class="markdown-body">
  {% capture README %}
  {% include modeled.netconf/README.md %}
  {% endcapture %}
  {{ README | markdownify }}
</div>
